<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my First Springboot Page!</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <h1>Index Page</h1>
<!--    <h1></h1><a href="/vipMain">click to vip main</a></h1>-->
<!--    <button type="button" class="btn btn-primary">原始按钮</button>-->
</div>

<div class="container">
    <div class="jumbotron">
        <h1>welcomeToIndexPage!</h1>
        <p>This is a webpage introducing about Reward System and VIP System.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/vipMain">
            clickToView</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Index</h3>
            <p>thisIsTheIndexAboutTheIntroduction</p>
            <p>welcomeYourArrival👏🏻👏🏻👏🏻👏🏻</p>
        </div>
        <div class="col-sm-4">
            <h3>Reward System</h3>
            <p>usersCanUseShoppingVouchersToShop</p>
            <p>dailyMinimumDiscountsOnItems!</p>
        </div>
        <div class="col-sm-4">
            <h3>VIP System</h3>
            <p>usersCanGetMoreServicesByUsingVIP</p>
            <p>activity, priorReservation, extraMenuHasEverything！</p>
        </div>
    </div>
</div>

</body>
</html>